:root{
    --color-title: #222;
    
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    background: #f9fafb;
}
header *{
    text-align: center;
    color: var(--color-title);
    line-height: 9rem;
}
hr{
    border: solid .1rem #e5e2e2;
}
figure{
    margin: 0 auto;
    max-width: 100rem;
    border: solid .1rem transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: .8rem;
    
}
figure img{
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
    width: 100%;
    padding: 1rem;
    filter: contrast(200%);
}
figure figcaption{
    padding: 0 1rem 1rem;
}
figure figcaption h2{
    font-size: x-large;
    margin: 0;
}
figure figcaption p{
    margin: 0;
    text-align: justify;
}
footer{
    text-align: center;
    margin: 1rem 0;
}